# Geral
.DS_Store
Thumbs.db
*.log
*.tmp

# Diretórios do Gradle e Kotlin
/stock-manager-backend/.gradle/
/stock-manager-backend/build/
/stock-manager-backend/out/
/stock-manager-backend/.idea/
/stock-manager-backend/*.iml

# Dependências do Node.js
/frontend/node_modules/
/frontend/dist/
/frontend/.parcel-cache/
/frontend/.vite/
/frontend/.next/
/frontend/.nuxt/

# Arquivos de build do Electron
/frontend/build/
/frontend/release/
/frontend/*.asar
/frontend/electron-out/
/frontend/electron-builder-cache/

# Ambientes e configurações sensíveis
.env
/stock-manager-backend/local.properties
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production

# Binários e executáveis gerados
*.exe
*.dll
*.so
*.dylib
*.app
*.jar
*.war
*.apk
*.ipa

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Arquivos do sistema operacional
*.swp
*.swo
*.swn
*.bak
*.tmp

# Arquivos do banco de dados
*.db
*.sqlite3
*.db-wal
*.db-shm

# Spring Boot
/stock-manager-backend/.mvn/
/stock-manager-backend/mvnw
/stock-manager-backend/mvnw.cmd
/stock-manager-backend/.idea/modules.xml
/stock-manager-backend/.idea/workspace.xml

# Jetbrains
/stock-manager-backend/.idea/shelf/
/stock-manager-backend/.idea/httpRequests/
/stock-manager-backend/.docker/
docker-compose.override.yml